.lbg-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: no-repeat center / contain;
}

.lbg-icon-archive {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-archive-folder-50.png");
}

.lbg-icon-bank {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-bank-cards-50.png");
}
.lbg-icon-puzzle {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-big-puzzle-50.png");
}
.lbg-icon-calendar {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-calendar-50.png");
}
.lbg-icon-chevron {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-chevron-down-50.png");
}
.lbg-icon-circled {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-circled-play-50.png");
}
.lbg-icon-door {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-door-hanger-50.png");
}
.lbg-icon-flag {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-flag-filled-50.png");
}
.lbg-icon-github {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-github-50.png");
}
.lbg-icon-home {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-home-50.png");
}
.lbg-icon-lightning {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-lightning-arrow-50.png");
}
.lbg-icon-male {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-male-user-50.png");
}
.lbg-icon-buffer {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-buffer-50.png");
}
.lbg-icon-music {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-music-50.png");
}
.lbg-icon-search {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-search-50.png");
}
.lbg-icon-socratic {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-socratic-50.png");
}
.lbg-icon-theme {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-theme-park-50.png");
}
.lbg-icon-twitter {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-twitter-circled-50.png");
}
.lbg-icon-u {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-u-turn-to-left-50.png");
}
.lbg-icon-youtube {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-youtube-50.png");
}
.lbg-icon-wechat {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-wechat-50.png");
}
.lbg-icon-up {
  background-image: url("https://pic.zenglbg.com/images/blog-icons/icons8-up-50.png");
}
